@import "./colours";

.button {
  background-color: $orange;
  border: none;
  box-shadow: 0 0.1rem 0.25rem 0 rgba($grey, 0.5);
  color: $white;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1.25rem;
  transition: all 0.3s ease-in;

  &:disabled {
    box-shadow: none;
    color: $white;
    cursor: not-allowed;
  }

  &:hover:enabled {
    box-shadow: none;
    cursor: pointer;
    background-color: darken($orange, 15%);
  }

  &:focus {
    outline: none;
  }

  &--link {
    background-color: $white;
    box-shadow: none;
    color: $blue;
    padding: 0.25rem;

    &:hover:enabled {
      background-color: $white;
      color: darken($blue, 15%);
      cursor: pointer;
    }
  }
}
