.button {
  background-color: $purple;
  border: none;
  box-shadow: 0 0.1rem 0.25rem 0 rgba($grey, 0.5);
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1.25rem;
  transition: all 0.3s ease-in;

  &:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: darken($purple, 15%);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: lighten($grey, 25%);
    box-shadow: none;
    color: $grey;
    cursor: not-allowed;
  }

  &--link {
    background-color: $white;
    box-shadow: none;
    color: $purple;

    &:hover {
      background-color: $white;
      color: darken($purple, 15%);
    }
  }
}
