@import "./colours";

::placeholder {
  color: darken($grey, 10%);
  font-weight: 300;
}

.form-group {
  position: relative;
}

label {
  color: $blue;
  display: block;
  margin-bottom: 0.25rem;
}

.input {
  background-color: lighten($grey, 40%);
  border: none;
  border-left: 2px solid transparent;
  font-size: 1rem;
  min-width: 14rem;
  padding: 0.75rem;
  transition: border 0.2s ease-in;
  width: 100%;

  &:focus {
    border-left: 2px solid transparent;
    outline: none;

    ~ .input__error {
      opacity: 0;
    }
  }

  &__error {
    bottom: -1.25rem;
    color: $red;
    left: 0;
    margin: 0;
    opacity: 1;
    position: absolute;
    transition: opacity 0.2s ease-in;
  }

  &--invalid {
    border-left: 2px solid $red;
  }
}

input[type="radio"],
input[type="radio"] + label {
  &:hover {
    cursor: pointer;
  }
}
