@import "./colours";

::placeholder {
  color: darken($grey, 10%);
  font-weight: 300;
}

label {
  color: $blue;
  display: block;
  margin-bottom: 0.25rem;
}

input[type="text"] {
  background-color: lighten($grey, 40%);
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  min-width: 14rem;
  padding: 0.75rem;
  transition: border 0.3s ease-in;
  width: 100%;

  &:focus {
    outline: none;
  }
}

input[type="radio"],
input[type="radio"] + label {
  &:hover {
    cursor: pointer;
  }
}
