@import "./colours";

.locations {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
  padding: 0 1.25rem;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  border: 2px solid $blue;
  border-radius: 0.5rem;
  font-size: 1rem;
  min-width: 12rem;
  padding: 0.75rem;
  transition: border 0.3s ease-in;
}

input:focus {
  border-color: darken($blue, 15%);
  outline: none;
}

::placeholder {
  color: $grey;
  font-style: italic;
}

button {
  background-color: $purple;
  border: none;
  color: #ffffff;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 1.25rem;
}

button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .locations {
    flex-wrap: wrap;
  }

  input {
    margin-bottom: 1.25rem;
  }
}
