@import "./colours";
@import "./responsive";

.locations {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  opacity: 1;
  transition: all 0.3s ease-in;
  width: 100%;
  z-index: 1;

  &--hide {
    height: 0;
    opacity: 0;
    overflow-y: hidden;
    z-index: -1;
  }

  .button {
    margin-top: 1.25rem;
  }

  .form-group {
    margin: 0.5rem 0;
    width: 100%;
  }

  &__error {
    color: $red;
    margin-top: 0.25rem;
  }

  @include wider($mobile-landscape) {
    max-width: 24rem;
    margin: 0 auto;
  }

  @include wider($tablet) {
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: none;

    .form-group {
      margin-bottom: 0;
      width: auto;
    }

    input {
      margin-bottom: 0;
      width: auto;
    }
  }
}
