@import "./colours";
@import "./responsive";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $white;
}

.container {
  margin: 0 auto;
  max-width: 65rem;
  padding: 0.5rem 0.75rem 0.75rem;
  position: relative;

  @include wider($tablet) {
    padding: 1.25rem;
  }
}
