@import "./responsive";

$place-size: 16rem;

.places {
  height: 0; // Not shown by default
  opacity: 0;
  transition: all 0.3s ease-in;
  z-index: -1;

  &--show {
    height: auto;
    opacity: 1;
    z-index: 1;
  }

  &__results {
    display: flex;
    overflow-y: hidden;
  }
}

.place {
  margin-right: 0.75rem;
  min-width: $place-size;
  padding-bottom: 1.25rem;

  @include wider($tablet) {
    margin-right: 1.25rem;
  }

  &:hover {
    cursor: pointer;
  }

  &__title,
  &__address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    margin: 0.5rem 0 0;
  }

  p {
    margin: 0.25rem 0;
  }

  &__image {
    align-items: center;
    background-color: lighten($grey, 30%);
    background-size: cover;
    background-position: top;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    height: $place-size - $place-size / 3;
    width: $place-size;

    p {
      color: $white;
    }
  }

  a {
    color: $blue;
    text-decoration: none;
  }
}

.search-again {
  display: flex;
  margin: 0 auto;
}
