$place-size: 16rem;

.place-details {
  display: flex;
  overflow-y: scroll;
  overflow-y: hidden;
  margin: 0 1.25rem 2.5rem;
}

.place {
  margin-right: 1.25rem;
  min-width: $place-size;

  &__title,
  &__address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__image {
    align-items: center;
    background-color: lighten($grey, 30%);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    height: $place-size - $place-size / 4;
    width: $place-size;

    &:before {
      color: $white;
      content: "No image found";
      display: block;
    }
  }
}
