@import "./responsive";

html {
  font-size: 85%;

  @include wider($mobile-modern) {
    font-size: 90%;
  }

  @include wider($tablet) {
    font-size: 95%;
  }

  @include wider($desktop) {
    font-size: 100%;
  }
}

body {
  color: darken($grey, 25%);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
